<%- include('partials/header'); -%>


<h1>Home Page - Quiz App & API</h1>
<div class="d-flex align-items-center justify-content-center vh-100">
<a href="/quizzes"><button class="btn btn-primary p-3 m-3">View Quizzes</button></a>
<a href="/addquiz"><button class="btn btn-primary p-3 m-3">Create a Quiz</button></a>
</div>

<%- include('partials/footer'); -%>
